body strong
{
    font-weight: bold;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

.gray 
{
    color: rgb(112, 117, 122);
}

a
{
    text-decoration: none;
    font-size: 14px;
}

.underline-hover
{
    margin-top: -5px;
}

#header
{
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 123px;
    border-bottom: 1px solid rgb(235, 235, 235);
    min-width: 920px;
}

.googlelogo
{
    float: left;
    max-width: 92px;
    height: auto;
    margin: 28px 0 0 20px;
}

.search-bar:hover
{
    border-color: rgba(223,225,229, 0);
    -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-bar
{
    display: inline-block;
    height: 49px;
    border-radius: 23px;
    border: 1px solid #dfe1e5;
    margin: 20px 0 0 35px;
    min-width: 641px; /* Minimize content jumping */
    max-width: 642px; /* Minimize content jumping */
}

.search-bar button
{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: rgb(83, 83, 255);
}

.search-bar button .last 
{
    margin-right: 20px;
    margin-left: 15px;
}

.search-bar .fa-search
{
    margin-right: 20px;
    margin-left: 15px;
}

.search-bar button:focus
{
    outline: none;
    border: none;
}

.search-bar .input-field 
{
    width: 550px;
    height: 20px;
    font-size: 16px;
    border: none;
    background-color: white;
    margin-left: 15px;
}

.search-bar .input-field:focus
{
    outline: none;
    border: none;
}

.icon
{
    width: auto;
    margin-top: 15px;
    font-size: 15px;
}

.search-bar .fa-microphone
{
    margin-left: 5px;
}

.tooltip 
{
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text 
{
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 10px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -45px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tooltip .tooltip-text::after 
{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text 
{
    visibility: visible;
}

.account-tools
{
    float: right;
    margin: 28px 28px 0 0 ;
    font-size: 14px;

}

.account-tools li
{
    float: left;
    margin-left: 25px;
    font-size: 20px;
}

.account-tools i
{
    margin-top: 6px;
}

.fa-th
{
    color: gray;
}

.avatar
{
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.nav-bar a:hover
{
    color: #1A73E8;
}

.nav-options
{
    display: inline-block;
    height: 58px;
    margin-left: 166px;
}

.nav-options li
{
    float: left;
    height: 46%;
    margin: 27px 25px 0 0;
    font-size: 13px;
}

.nav-options a 
{
    color: #5f6368;
    font-size: 13px;
}

.nav-options .selected 
{

    border-bottom: 3px solid #1A73E8;
}

.nav-options .selected a 
{
    color: #1A73E8;
}

.nav-settings 
{
    display: inline-block;
    height: 58px;
    margin-left: 45px;
}

.nav-settings li
{
    float: left;
    height: 100%;
    margin: 27px 25px 0 0;
    font-size: 13px;
}

.nav-settings a 
{
    color: #5f6368;
}

#page-content
{
    display: flex;
    margin: 13px 0 0 166px;
}

#page-content p
{
    font-size: 14px;
}

.result
{
    line-height: 1.5em;
    margin: 20px 0;
}

.result a[href^="http"] p
{
    padding-left: 26px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
}

.result a[href*="theodinproject.com"] p
{
    background-image: url(https://www.google.com/s2/favicons?domain=theodinproject.com);
}

.result a[href*="twitter.com"] p
{
    background-image: url(https://www.google.com/s2/favicons?domain=twitter.com);

}

.result a[href*="reddit.com"] p
{
    background-image: url(https://www.google.com/s2/favicons?domain=reddit.com);
    
}

.result a[href*="switchup.org"] p
{
    background-image: url(https://www.google.com/s2/favicons?domain=switchup.org);
    
}

.result a[href*="github.com"] p
{
    background-image: url(https://www.google.com/s2/favicons?domain=github.com);
    
}

.result a[href*="medium.com"] p
{
    background-image: url(https://www.google.com/s2/favicons?domain=medium.com);
    
}

.result a[href*="linkedin.com"] p
{
    background-image: url(https://www.google.com/s2/favicons?domain=linkedin.com);
    
}

.result a
{
    color: rgb(26, 13, 171);
}

.result a:visited
{
    color: #609;
}

.result p 
{
    color: #3C4043;
}

.rating-stars
{
    color: #f97d00;
    font-size: 12px;
    vertical-align: middle;
}

.dropdown
{
    font-size: 10px;
    vertical-align: middle;
}

.result a:hover h3
{
    text-decoration: underline;
}

h3
{
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.description
{
    max-width: 580px;
    margin-left: 1px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.result table
{
    width: 580px;
    margin: 10px 0 0 0;
}

.result td
{
    width: 210px;
    padding: 5px 30px;
}

.result td a:hover
{
    text-decoration: underline;
}

.result td p
{
    line-height: 1.5em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.more-results
{
    margin-left: 31px;
}

.related-searches h3
{
    color: #222;
    margin-top: 30px;
}

.related-searches table
{
    margin: 25px 0;
}

.related-searches td
{
    width: 247px;
}

.related-searches li
{
    margin-bottom: 10px;
}

.related-searches a:hover
{
    text-decoration: underline;
}

.results-nav
{
    margin: 0 0 30px 140px;
}

.results-nav a
{
    color: #4285f4;
}

.results-nav a:hover
{
    text-decoration: underline;
}

.nav-g 
{
    width: 29px;
    height: 10px;
    background-image: url(../images/nav.webp);
    background-repeat: no-repeat;
    background-position-x: -24px;
}

.nav-o-selected 
{
    width: 21px;
    height: 5px;
    background-image: url(../images/nav.webp);
    background-repeat: no-repeat;
    background-position-x: -53px;
    text-align: center;
    padding-top: 40px;
}

.nav-o 
{
    width: 21px;
    height: 5px;
    background-image: url(../images/nav.webp);
    background-repeat: no-repeat;
    background-position-x: -74px;
    text-align: center;
    padding-top: 40px;
}

.nav-next
{
    width: 82px;
    height: 5px;
    background-image: url(../images/nav.webp);
    background-repeat: no-repeat;
    background-position-x: -96px;
    text-align: right;
    padding-top: 40px;
}

.knowledge-panel
{
    width: 454px;
    min-width: 454px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 8px;
    margin: 35px 0 0 74px;
    display: flex;
    flex-wrap: wrap;
    height: 550px;
}

.knowledge-panel .shareicon
{
    font-size: 20px;
    color: #70757a;
}

.seperator
{
    flex-basis: 100%;
    height: 0px;
    border-bottom: 1px solid  rgb(235, 235, 235);
}

.break
{
    flex-basis: 100%;
    height: 0px;
}

.knowledge-header
{
    display: flex;
    align-items: center;
    padding: 30px 15px 30px 15px;
}

.company
{
    width: 241px;
    line-height: 1.3em;
}

.company-name
{
    font-size: 19px;
}

.knowledge-header img 
{
    height: 92px;
    width: 92px;
    margin-left: 50px;
}

.sitelink a
{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    color: #1a0dab;
    margin: 10px 0 10px 15px;
}

.sitelink .fa-globe
{
    font-size: 20px;
    color: #70757a;
}

.sitelink a:visited
{
    color: #609;
}

.sitelink a:hover
{
    text-decoration: underline;
}

.url 
{
    margin-left: 23px;
}

.external-links
{
    padding: 2px 15px 30px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.external-links p
{
    line-height: 2em;
}

.external-links h3
{
    margin: 23px 0px 13px 0px;
    flex-grow: 2;
}

.external-links a
{
    color: rgb(26, 13, 171);
}

.external-links a:hover
{
    text-decoration: underline;
}

.external-links a:visited
{
    color: rgb(26, 13, 171);
}

.profile
{
    flex-grow: 1;
    height: 71px;
    min-width: 32px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    background-position-y: 0px;
    padding-top: 39px;
}

.relevant
{
    flex-grow: 1;
    min-width: 72px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72px;
    padding-top: 100px;
    margin-top: -12px;
}

.external-links .also-search
{
    margin-top: 10px;
}

.disclaimer-feedback
{
    display: flex;
    align-items: center;
    margin: -4px 0px 0px 5px;
}

.disclaimer-feedback a
{
    font-size: 12px;
}

.disclaimer 
{
    min-width: 391px;
}

.profile[href*="twitter.com"] 
{ 
    background-image: url(images/twitter-logo.png); 
}

.profile[href*="linkedin.com"] 
{ 
    background-image: url(images/linkedin-logo.png); 
}

.profile[href*="youtube.com"] 
{ 
    background-image: url(images/youtube-logo.png); 
}

.profile[href*="instagram.com"] 
{ 
    background-image: url(images/instagram-logo.png); 
}

.profile[href*="facebook"] 
{ 
    background-image: url(images/facebook-logo.png); 
}

.fcc 
{
    background-image: url(images/freecodecamp-logo.png); 
}

.cc 
{
    background-image: url(images/codecadamey-logo.png); 
}

.gh 
{
    background-image: url(images/github-logo.png); 
}

.edx 
{
    background-image: url(images/edx-logo.png); 
}

.crs 
{
    background-image: url(images/coursera-logo.png); 
}

#footer-nav
{
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-width: 920px;
    height: 40px;
    background-color: #f2f2f2;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
}

#footer-nav-left
{
    float: left;
    margin: 13px 25px 0px 166px;
}

#footer-nav-left li
{
    float: left;
}

#footer-nav-left a
{
    margin: 0 27px 0 0;
    color: #5f6368;
}

#footer-nav-left a:hover
{
    color: #333333;
}